<footer class="site-footer">

    <div class="row">
        <article>
            <p>{{ site.description }}</p>
        </article>

        <article class="copyright">
            <ul>
                <li><a href="https://github.com/CodeLouisville">GitHub</a></li>
                <li><a href="https://twitter.com/codelouisville">Twitter</a></li>
                <li><a href="https://www.facebook.com/codelouisville">Facebook</a></li>
                <li>&copy; 2014 Code Louisville</li>
            </ul>
        </article>

    </div>

</footer>
