---
layout: default
---

<section class="post">

    <div class="row">
        <h2 class="page-header">{{ page.title }}</h2>
        <header class="">
            <span class="category"><i class="icon-tag"></i> {{ page.categories | category_links }}</span><br/>
            <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>
    </div>

    <div class="row">
        <article class="post-content">
            {{ content }}
        </article>
    </div>

</section>