---
layout: default
---

<section class="post">

    <div class="row">
        <h2 class="page-header">{{ page.title }}</h2>
        <header class="meta">
            {{ page.date | date: "%b %-d, %Y" }}
            {% if page.author %}
                by {{ page.author }}<br/>
            {% endif %}
            {% if page.meta %}
                {{ page.meta }}
            {% endif %}
            Tag: {{ page.categories | category_links }}
        </header>
    </div>

    <div class="row">
        <article class="post-content">
            {{ content }}
        </article>
    </div>

</section>